{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-header bg-primary text-white">
                <h4><i class="bi bi-graph-up"></i> Interactive Data Analysis</h4>
            </div>
            <div class="card-body">
                <ul class="nav nav-tabs" id="analysisTabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="dept-tab" data-bs-toggle="tab" data-bs-target="#dept" type="button" role="tab">Department Analysis</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="exp-tab" data-bs-toggle="tab" data-bs-target="#exp" type="button" role="tab">Experience Analysis</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="age-tab" data-bs-toggle="tab" data-bs-target="#age" type="button" role="tab">Age Analysis</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="gender-tab" data-bs-toggle="tab" data-bs-target="#gender" type="button" role="tab">Gender Analysis</button>
                    </li>
                </ul>
                <div class="tab-content mt-3" id="analysisTabContent">
                    <div class="tab-pane fade show active" id="dept" role="tabpanel">
                        {{ dept_plot|safe }}
                    </div>
                    <div class="tab-pane fade" id="exp" role="tabpanel">
                        {{ exp_plot|safe }}
                    </div>
                    <div class="tab-pane fade" id="age" role="tabpanel">
                        {{ age_plot|safe }}
                    </div>
                    <div class="tab-pane fade" id="gender" role="tabpanel">
                        {{ gender_plot|safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    // Make Plotly charts responsive
    window.addEventListener('resize', function() {
        Plotly.Plots.resize(document.getElementById('dept-plot'));
        Plotly.Plots.resize(document.getElementById('exp-plot'));
        Plotly.Plots.resize(document.getElementById('age-plot'));
        Plotly.Plots.resize(document.getElementById('gender-plot'));
    });
</script>
{% endblock %}